body {
    color: white;
    background-color: rgb(35,35,35);
}

.jumbotron{
    background-color:black;
}

.logo{
    font-size: 5em;
}

@media only screen and (max-width: 768px)  {
    .logo {
        font-size: 3em;
    }
    h4 {
        font-size: 1em;
    }
}
@media only screen and (max-width: 576px)  {
    .logo {
        font-size: 2em;
    }
    h4 {
        font-size: 0.7em;
    }
}

.Wunder {
    color: yellow;
}
.Vision {
    color: blue;
}

.square {
    box-sizing: border-box;
    border: 1px solid white;
    height: 300px;
    padding: 5px;
    overflow:hidden;
}

.imgcontainer {
    width:100%;
    height:75%;
    overflow:hidden;
}

.imgcontainer > img{
    max-width: 300px;
} 

.descriptionblock {
    background:white;
    color:black;
    width:400px;
    margin:auto
}
.icon {
    margin: 5px;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-style: dotted;
    border-width: 2px;
    border-color: red;
}

.dcell {
    width: 50px;
    height: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: blue;
}