body {
    background: black;
    background-color: black;
}
h2 {
    color: white;
}
h1 {
    font-size: 50px;
}
h3 {
    color: white;
}
h4 {
    color: white;
}

.col-md-4 {
    padding: 20px;
}

a:link, a:visited {
    color: rgb(0, 102, 255);
    text-decoration: none;
}
a:hover, a:active {
    color: rgb(66, 180, 0);
}
.Standard {
    font-family: Sans-Serif;
    font-weight: 100;
}
.Wunder {
    color: yellow;
}
.Vision {
    color: blue;
}
.Normal {
    color:white;
}

.icon {
    margin: 5px;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-style: dotted;
    border-width: 2px;
    border-color: red;
}

.dcell {
    width: 50px;
    height: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: blue;
}