body {
    background: black;
    background-color: black;
}
h2 {
    color: white;
}
h1 {
    font-size: 50px;
}
h3 {
    color: white;
}

a:link, a:visited {
    color: rgb(0, 102, 255);
    text-decoration: none;
}
a:hover, a:active {
    color: rgb(66, 180, 0);
}
.Standard {
    font-family: Sans-Serif;
    font-weight: 100;
}
.Wunder {
    color: yellow;
}
.Vision {
    color: blue;
}